@model Capstone.Web.Models.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/Details.css" rel="stylesheet" />

<input type="checkbox" id="image-zoom" />

    <div class="park-image-container">
        <label for="image-zoom">
            <img src="~/images/parks/@(Model.Park.Code).jpg" alt="@Model.Park.Name" class="park-image" />
        </label>
    </div>


<div class="park-header">
    <h1>@Model.Park.Name</h1>

    <p>@Model.Park.Description</p>

    <div class="park-info">
        <p><strong>State:</strong> @Model.Park.State</p>
        <p><strong>Acreage:</strong> @Model.Park.Acreage</p>
        <p><strong>Elevation:</strong> @Model.Park.ElevationFt ft.</p>
        <p><strong>Miles of Trail:</strong> @Model.Park.MilesOfTrail</p>
        <p><strong>Number of Campsites:</strong> @Model.Park.NumberOfCampsites</p>
        <p><strong>Climate:</strong> @Model.Park.Climate</p>
        <p><strong>Year Founded:</strong> @Model.Park.YearFounded</p>
        <p><strong>Annual Visitors:</strong> @Model.Park.AnnualVisitorCount</p>
        @{string entryFee = Model.Park.EntryFee == 0 ? "Free" : Model.Park.EntryFee.ToString("C2");}
        <p><strong>Entry Fee:</strong> @entryFee</p>
        <p><strong>Number of Animal Species:</strong> @Model.Park.NumberOfSpecies</p>
    </div>
</div>

<div class="quote-container">
    <div class="quote-center">
        <div class="quote-text"><strong>"@Model.Park.InspirationalQuote"</strong></div>
        <div class="quote-attribute">- @Model.Park.QuoteSource</div>
    </div>
</div>

@if (Model.TemperatureSetting == "celsius")
{
    foreach (Weather weather in Model.FiveDayWeather)
    {
        weather.LowTemp = ((weather.LowTemp - 32.0) * (5.0 / 9.0));
        weather.HighTemp = ((weather.HighTemp - 32.0) * (5.0 / 9.0));
    }
}

<div class="weather">
    @for (int i = 0; i < Model.FiveDayWeather.Count; i++)
    {
        string className = i == 0 ? "today" : "daily-forecast";
        <div class="@className">
            @if(i == 0)
            {
                <h3>Today</h3>
            }
            else
            {
                <h4>@Model.FiveDayWeather[i].DayOfWeek</h4>
            }
            <img src="~/images/weather/@(Model.FiveDayWeather[i].Forecast).png" alt="@Model.FiveDayWeather[i].Forecast" />
            <div class="hi-low">
                <span><strong>High </strong>@Model.FiveDayWeather[i].HighTemp.ToString("N2") @Model.TemperatureSetting.Substring(0, 1).ToUpper()</span>
                <span><strong>Low </strong>@Model.FiveDayWeather[i].LowTemp.ToString("N2") @Model.TemperatureSetting.Substring(0, 1).ToUpper()</span>
            </div>
            <ul>
                @if (!String.IsNullOrWhiteSpace(Model.FiveDayWeather[i].ForecastMessage))
                {
                    <li><span class="forecast-message">@Model.FiveDayWeather[i].ForecastMessage</span></li>
                }

                @if (!String.IsNullOrWhiteSpace(Model.FiveDayWeather[i].TemperatureMessage))
                {
                    <li><span class="temperature-message">@Model.FiveDayWeather[i].TemperatureMessage</span></li>
                }
            </ul>
        </div>
    }

</div>
